/* title section */
#title-section {
  height: 100vh;
  margin: auto;
  background-image: url("./img/bg.jpg");
  background-size: 1280px auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
}

@media only screen and (max-width: 767px) {
  #title-section {
    background-size: 550px auto;
    background-image: url("./img/mobile-bg.jpg");
  }
}

#title-content {
  padding-top: 15vh;
  color: white;
}

#title-hr {
  border-color: white;
  max-width: 400px;
}

#tagline-text {
  font-size: 1.5rem;
}

/* about section */
#about-section {
  background-color: white;
  width: 100%;
}

#about-headline {
  font-size: 3rem;
}

#about-hr {
  border-color: black;
  max-width: 400px;
}

#about-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: black;
}

/* project section */
#project-section {
  background-color: black;
  width: 100%;
}

#project-headline {
  color: white;
  font-size: 3rem;
}

#project-hr {
  border-color: white;
  max-width: 400px;
}

#project-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: black;
}

.card {
  border-style: none;
  border-radius: 0;
}

.card-hr {
  border-color: black;
}

.card-img-top {
  border-radius: 0;
}

/* contact section */
#contact-section {
  background-color: white;
  width: 100%;
}

#contact-headline {
  font-size: 3rem;
}

#contact-hr {
  border-color: black;
  max-width: 400px;
}

#contact-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: black;
}
